<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="debug.friesenkiwi.de.pnggeneratetest"
    >

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      >

  </application>

</manifest>
